body {
    margin: 0;
    background: #333333;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
  }
  
  .area-format {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #aaaaaa;
    background: #444444;
    border: none;
    border-radius: 10px;
    outline: none;
    resize: none;
    font-family: monospace;
    transition: background 0.25s, color 0.25s;
  }
  
  .area-format:hover,
  .area-format:focus {
    background: #4a4a4a;
  }
  
  .area-format:focus {
    color: #eeeeee;
  }
  
  .control-button {
    padding: 8px 14px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #009578;
    color: #ffffff;
    font-weight: bold;
    font-family: "Roboto";
  }
  
  .control-button:active {
    background: #00705a;
  }
  
  .error-output {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #ac2727;
    background: #444444;
    border: none;
    border-radius: 10px;
    outline: none;
    resize: none;
    font-family: monospace;
    transition: background 0.25s, color 0.25s;
  }